* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 255, 255, 0.525);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.caixa-login {
    display: flex;
    flex-direction: column;
    text-align: center;

    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

    width: 320px;
    gap: 15px;
}

.titulo_login {
    margin-bottom: 20px;
}

.caixa-texto {
    background-color: #ffffff;
    border-radius: 16px;
    border: solid 2px aqua;
    padding: 10px 20px;
}

.caixa-texto:hover {
    border-color: rgb(15, 147, 255);
}

.entrar-btn {
    background-color: rgb(0, 217, 255);
    border-radius: 16px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.entrar-btn:hover {
    background-color: rgb(95, 229, 252);
}

.link-cadastro {
    margin-top: 10px;
    font-size: 14px;
    color: rgb(0, 100, 255);
    text-decoration: none;
}

.link-cadastro:hover {
    text-decoration: underline;
}
